/*  asterix is the universal selector,
*   all elements on the page will be given these values.
*   Here it is used to perform a browser basic reset to ensure
*   all browsers render the same CSS.
*
*   By default, some browsers will apply their own margin/padding to certain elements.
*   I.e. H1 tags might be given some margin/padding.
*   This resets so all is determined by us.
*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; /* now box-sizing will be an inherited property */
}

html {
    // this defines what 1rem is
    font-size: 62.5%; /* sets default font size on html tag to 62.5% of browser default font-size (which is usually 16px, so this will be 10px), this impacts all rem values */
}

body {
    box-sizing: border-box; /* with this borders are not appended to the total width or height that we specify for a box. */
}