body {
    /* font settings will be inherited by all child elements on the page */
    font-family: "Lato", sans-serif;
    font-weight: 400; /* as per the import in index.html we only have Lato font weights of: 100,300,400,700,900 */
    font-size: 1.6rem;
    line-height: 1.7; /* 1.7 times the default line height */
    color: $color-grey-dark;
    padding: 3rem; /* padding is not inherited, this just applies padding to the whole page body */
    box-sizing: border-box; /* with this borders are not appended to the total width or height that we specify for a box. */
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;


    /*  */
    backface-visibility: hidden; /* animations can sometimes cause little shifts when they end. No one really knows why. This fixes it. */
    margin-bottom: 6rem;

    &--main {
        display: block; /* block level elements take the full width of their parent and therefore forces a linebreak */
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
    
        animation-name: moveInLeft;
        animation-duration: 1s;
    
    
        /* ease-in = slow start and speeds up */
        /* ease-out = fast start and slows down */
        animation-timing-function: ease-out; /* https://developer.mozilla.org/en-US/docs/Web/CSS/animation-timing-function */
    
        /*
        animation-delay: 3s;            delays the start of the animation by 3 seconds
        animation-iteration-count: 3;   runs the animation 3 times
        */
    }
    
    &--sub {
        display: block; /* block level elements take the full width of their parent and add a line break at the end of themselves */
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
    
        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }
}